body {
  font-family: Helvetica;
}
#search {
  background-color: #dddddd;
  padding: 20px 10px;
  position: relative;
}
#search h1 {
  margin: 50px 0 20px;
  font-size: 200%;
}
#search .engine {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 125px;
  height: 125px;
}
#search .engine.bacon {
  border: 1px solid black;
  background: url('porco_rosso.jpg') no-repeat;
}
#search .engine.rx {
  border: 1px solid black;
  background: url('donald_curtis.jpg') no-repeat;
}
#search .engine.traditional {
  border: 1px solid black;
  background: url('plane_smoking.jpg') no-repeat;
}
#search .controls {
  margin: 30px 0;
}
#search .controls .searchButton {
  padding-right: 20px;
}
#search .controls .searchButton.loading {
  background: url('loading.gif') no-repeat right;
}
#search .results {
  padding: 10px 5px;
  display: none;
}
#search .results li {
  list-style: none;
  padding-left: 1em;
}
#search .results li:before {
  position: relative;
  left: -0.8em;
  content: "\00bb";
}
#search .results.success {
  background-color: rgb(122, 224, 122);
}
#search .results.failure {
  background-color: rgb(255, 152, 152);
}
footer {
  background-color: #dddddd;
  font-size: 10px;
  color: #777777;
  text-align: center;
  padding: 10px 0;

}
footer a {
  color: #777777;
}
