body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}
#search {
  background-color: #dddddd;
  padding: 10px;
}
#search .controls {
  padding-right: 20px;
}
#search .controls.loading {
  background: url('loading.gif') no-repeat right;
}
#search .results {
  margin-top: 10px;
  padding: 10px 5px;
}
#search .results.success {
  background-color: rgb(122, 224, 122);
}
#search .results.failure {
  background-color: rgb(255, 152, 152);
}
